
.div-block-38 div a img{
width: 60px;

}
.container-wrraper{
    padding: 20px 0px;
    color: black;
    background-image: linear-gradient(to right, #aed5e6 , #cfedf8d0);

}
.copyright{
    color: black;
    text-decoration: none;
} 
.copyright a{
    text-decoration: none;
}
.div-block-38 div a img:hover{
    filter: invert();
transition-duration: 0.5s;
}
.link-thin{
    color: black;
    /* text-decoration: none; */
}
.footer-icon-linkblock{
    margin-left: 10px;
}